.add-bill-component {
    position: fixed;
    top: 5vh;
    left: 25vw;
    height: 90vh;
    width: 50vw;
    background-color: #090909;
    border-radius: 2.5px;
    z-index: 2;
    .title-section {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 1rem;
        border-bottom: solid 1px #333333;
        h4 {
            color: #ececec;
            font-size: 2.5rem;
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
        }
        h5 {
            color: #ececec;
            font-size: 1.75rem;
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
        }
    }
    .bottom-section {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 2rem;
        .form-article {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            gap: 1rem;
            input {
                color: #ececec;
                font-size: 1.25rem;
                font-family: "Open Sans", sans-serif;
                width: 90%;
                padding: 1rem;
                background-color: #131313;
                border-radius: 5px;
                border: none;
            }
            .price-div {
                width: 92.5%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        .payment-article {
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 1rem;
            padding: 2rem;
            div {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 1rem;
                button {
                    color: #ececec;
                    font-size: 1.25rem;
                    font-family: "Open Sans", sans-serif;
                    font-weight: 400;
                    background-color: #131313;
                    border: none;
                    border-radius: 5px;
                    padding: .5rem 1rem;
                    cursor: pointer;
                    transition: ease .3s;
                    &:hover {
                        background-color: #151515;
                        transition: ease .3s;
                    }
                }
            }
        }
        .buttons-article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            button {
                width: 90%;
                color: #ececec;
                font-size: 1.25rem;
                font-family: "Open Sans", sans-serif;
                font-weight: 400;
                background-color: #131313;
                border: none;
                border-radius: 5px;
                padding: .5rem 1rem;
                cursor: pointer;
                transition: ease .3s;
            }
            .attach-button {
                background-color: #090909;
                border: solid 1px #333333;
                &:hover {
                    background-color: #151515;
                    transition: ease .3s;
                }
            }
            .save-button {
                color: #111111;
                background-color: #d0cdea;
                &:hover {
                    color: #ececec;
                    background-color: #766ac1;
                    transition: ease .3s;
                }
            }
        }
    }
}