.create-project-main {
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .form {
        height: 35vw;
        width: 30vw;
        background-color: #222222;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0rem 3rem;
        .title {
            font-size: 3rem;
            font-family: "Lora", serif;
            font-weight: 800;
            color: #ececec;
            text-decoration: none;
            text-align: center;
        }
        .inputs-div {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .input-div {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                gap: 1rem;
                .label {
                    font-size: 1.5rem;
                    font-family: "Manrope", serif;
                    font-weight: 500;
                    color: #ececec;
                    text-decoration: none;
                    text-align: center;
                }
                .input {
                    width: 100%;
                    background-color: #444444;
                    border: solid 1px #111111;
                    border-radius: 5px;
                    font-size: 1.5rem;
                    font-family: "Manrope", serif;
                    font-weight: 500;
                    color: #ececec;
                    text-decoration: none;
                    text-align: start;
                    padding: .5rem 0rem;
                }
                .textarea {
                    height: 20vh;
                    width: 100%;
                    background-color: #444444;
                    border: solid 1px #111111;
                    border-radius: 5px;
                    font-size: 1.5rem;
                    font-family: "Manrope", serif;
                    font-weight: 500;
                    color: #ececec;
                    text-decoration: none;
                    text-align: start;
                    padding: .5rem 0rem;
                    resize: none;
                }
            }
        }
        .btns-div {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
            .btn {
                width: 100%;
                border: none;
                border-radius: 5px;
                font-family: "Manrope", serif;
                font-weight: 600;
                color: #ececec;
                text-decoration: none;
                text-align: center;
                padding: .5rem 0rem;
                transition: ease .3s;
                cursor: pointer;
            }
            .crear-btn {
                font-size: 1.5rem;
                background-color: #a15ec5;
                &:hover {
                    background-color: #c267f2;
                    transition: ease .3s;
                }
            }
            .limpiar-btn {
                font-size: 1.75rem;
                background-color: #111111;
                &:hover {
                    background-color: #151515;
                    transition: ease .3s;
                }
            }
        }
    }
}

// RESPONSIVE DESIGN --------------------------------------------------------------------------------------------------------------------------------
@media (max-width: 1439px) {
    .create-project-main {
        height: 80vh;
        .form {
            height: 70vh;
            width: 60vw;
        }
    }
}

@media (max-width: 1023px) {
}

@media (max-width: 767px) {
    .create-project-main {
        .form {
            width: 70vw;
        }
    }
}

@media (max-width: 550px) {
}

@media (max-width: 479px) {
    .create-project-main {
        .form {
            .title {
                font-size: 2.5rem;
            }
            .inputs-div {
                .input-div {
                    align-items: center;
                    gap: 2rem;
                    .label {
                        font-size: 1.25rem;
                        text-align: center;
                    }
                }
            }
            .btns-div {
                .btn {
                    font-size: 1.5rem;
                }
                .crear-btn {
                    font-size: 1.25rem;
                }
            }
        }
    }
}

@media (max-width: 365px) {
    .create-project-main {
        .form {
            .title {
                font-size: 2rem;
            }
        }
    }
}