.landing-main {
    display: flex;
    flex-direction: column;
    padding: 10rem 0rem 0rem 0rem;
    .top-section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        margin-bottom: 10rem;
        .article {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5rem;
            .info-card {
                height: 25vh;
                width: 20vw;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                border: solid 1px #333333;
                border-radius: 15px;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
                transition: transform 0.3s ease, box-shadow 0.3s ease;
                padding: 0rem 1.5rem;
                &:hover {
                    transform: scale(1.1);
                    box-shadow: 5.5px 5.5px 11px rgba(0, 0, 0, 0.9);
                    .icon {
                        transform: scale(1.2);
                    }
                }
                .icon {
                    height: 5rem;
                    transition: transform 0.3s ease;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
                .text {
                    font-size: 1.75rem;
                    font-weight: 300;
                    text-align: center;
                    transition: font-size 0.3s ease;
                    cursor: default;
                }
            }
        }
    }
    .bottom-section {
        width: 100%;
        display: flex;
        .article {
            height: 30vh;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            border-top: solid 1px #333333;
            padding-bottom: 5rem;
            .title {
                font-size: 3.5rem;
                font-family: "Lora", serif;
                font-weight: 600;
                color: #ececec;
                text-decoration: none;
                text-align: center;
            }
            .text {
                font-size: 1.75rem;
                text-align: center;
            }
            .btn {
                width: 80%;
                font-size: 2rem;
                font-family: "Manrope", serif;
                font-weight: 500;
                color: #ececec;
                text-decoration: none;
                text-align: center;
                background: none;
                border: solid 1px #333333;
                border-radius: 5px;
                padding: .5rem 1rem;
                transition: ease .3s;
                cursor: pointer;
                &:hover {
                    background-color: #c267f2;
                    transition: ease .3s;
                }
            }
        }
        .left {
            border-right: solid 1px #333333;
        }
    }
}

// RESPONSIVE DESIGN --------------------------------------------------------------------------------------------------------------------------------
@media (max-width: 1439px) {
    .landing-main {
        .top-section {
            .article {
                flex-direction: column;
                .info-card {
                    height: 40vh;
                    width: 30vw;
                }
            }
        }
        .bottom-section {
            .article {
                height: 50vh;
                padding: 0rem 2.5rem 5rem 2.5rem;
            }
        }
    }
}

@media (max-width: 1023px) {
    .landing-main {
        .top-section {
            .article {
                flex-direction: column;
                .info-card {
                    height: 35vw;
                    .text {
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .bottom-section {
            .article {
                .title {
                    font-size: 3rem;
                }
                .text {
                    font-size: 1.5rem;
                }
                .btn {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .landing-main {
        .top-section {
            flex-direction: column;
            .article {
                .info-card {
                    height: 40vh;
                    width: 60%;
                }
            }
        }
        .bottom-section {
            flex-direction: column;
            .article {
                width: 100%;
                padding: 5rem 0rem;
                .text {
                    padding: 0rem 1.5rem;
                }
            }
            .left {
                border-right: none;
            }
        }
    }
}

@media (max-width: 550px) {
    .landing-main {
        .bottom-section {
            .article {
                .title {
                    font-size: 2.5rem;
                }
                .text {
                    font-size: 1.25rem;
                }
                .btn {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media (max-width: 479px) {
    .landing-main {
        .top-section {
            .article {
                .info-card {
                    .text {
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 365px) {
    .landing-main {
        .bottom-section {
            .article {
                .title {
                    font-size: 2rem;
                }
                .btn {
                    font-size: 1.25rem;
                }
            }
        }
    }
}